body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.window{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 60px auto;
  border-width: medium;
  border-style: solid;
  border-color: black;
  border-radius: 25px;
}

.topbar{
  height: 10vh;
  font-size: x-large;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0%;
  padding: 6px 52px;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainframe{
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 20px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.btn{
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  background-color:rgb(28, 173, 47);
  padding: 15px 25px;
  margin: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 7px 0px 0px rgb(16, 99, 27);
  color: white;
}

.counter{
  font-size: 60px;
  background-color: white;
}

.btn:active{
  transform: translateY(3px);
  box-shadow: 0px 3px 0px 0px rgb(7, 48, 13);
}